.timerContainer {
   font-size: 9rem;
   line-height: 7rem;
}

.timerContainer span {
   background-color: #29292E;
   width: 125px;
   text-align: center;
   padding: 2.5rem 1rem;
   border-radius: 8px;
}

.task-input::-webkit-calendar-picker-indicator {
   display: none !important;
}